<main class="container mx-auto">
  <header class="flex justify-between py-12">
    <h1 class="text-3xl font-cursive">
      <a href="/">Wariva</a>
    </h1>

    <a
      class="inline-flex items-center font-semibold"
      href="/signin">
      <span class="mr-1"><%= dgettext("home", "Log In") %></span>
      <Heroicons.arrow_left_on_rectangle class="w-5 h-5 rotate-180 text-indigo-800 dark:text-indigo-400" />
    </a>
  </header>
</main>
